html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'IM Fell French Canon SC', serif;
}

#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 52, 52, 0.4);
    z-index: 2;
}

video {
    position: fixed;
    left: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    object-fit: fill;
    z-index: 1;
  }

.topnav {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    z-index: 3;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
}

.topnav a {
  
  color: #ffffff;
  text-align: center;
  padding: .5em .6em;
  text-decoration: none;
  font-size: 5em; 
  border-left: 10px solid white;
  background: linear-gradient(to right, rgba(68, 1, 1, 0.87) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position .5s ease-out;
}
.topnav a:hover {
    background-position: left bottom;
  }
  
.header {
    position: relative;
    width: fit-content;
    margin : 0 auto;
    height: 100%;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-size: 12em;
    white-space: nowrap;
    overflow: hidden;
     /* opacity: 0;  */
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    /* animation: apparition 3s ease-in-out 8s forwards  */
}


#m-right {
    
    animation: textslide 3s forwards;
    overflow: hidden;
    margin-right: 0em;
}
#v-right {
   
    margin-right: 1em;
    padding-right: 0;
    animation: textslide 3s forwards;
    overflow: hidden;
}

@keyframes textslide {
    0% {margin-left: -700px;opacity:0;}
    50% {opacity:0;}
    100% {margin-left: 0px;opacity:1}
}

.hero-sentence {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: white;
    margin-top: 20em;
    display: flex;
    justify-content: space-around;

 
}

.hero-sentence h1 {
   font-size: 8em;
   font-weight: 300;
   opacity: 0;
}



.hero-sentence-following h1 {
   font-size: 5em;
   font-weight: 300;
   opacity: 0;
}

.vivez {
    animation: apparition 3s ease-in-out 2s forwards;
    border-top: 10px solid white;
    border-left: 10px solid white;
    padding: .3em;
}
.vivez::after {
    content: "de nouvelles expériences";
    position: absolute;
    transform: translate(-250px,150px);
    font-size: .6em;
    font-weight: 300;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    padding: .3em;
    animation: apparition 3s ease-in-out 2.5s forwards
}

.degustez {
    animation: apparition 3s ease-in-out 4s forwards;
    border-top: 10px solid white;
    border-left: 10px solid white;
    padding: .3em;
}
.degustez::after {
    content: "de bons produits";
    position: absolute;
    transform: translate(-250px,150px);
    font-size: .6em;
    font-weight: 300;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    padding: .3em;
    animation: apparition 3s ease-in-out 4.5s forwards
}

.partagez {
    animation: apparition 3s ease-in-out 6s forwards;
    border-top: 10px solid white;
    border-left: 10px solid white;
    padding: .3em;
}
.partagez::after {
    content: "entre amis";
    position: absolute;
    transform: translate(-250px,150px);
    font-size: .6em;
    font-weight: 300;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    padding: .3em;
    animation: apparition 3s ease-in-out 6.5s forwards
}


@keyframes apparition {
    0%   {opacity:0; }
    100%     {opacity:1; }
}


.btn-hero {
width: fit-content;
padding: .3em .8em;
text-decoration: none;
border: 8px solid white;
position: relative;
color: white;
z-index: 3;
font-size: 7em;
margin: 0 auto;
margin-top: 4em;
display: block;
opacity: 0;
background: linear-gradient(to right, rgba(68, 1, 1, 0.87) 50%, rgba(255, 255, 255, 0) 50%);
background-size: 200% 100%;
background-position: right bottom;
transition: background-position .5s ease-out;
animation: apparition 3s ease-in-out 8s forwards;

}
.btn-hero:hover {
    background-position: left bottom;
  }
      
  

